{{ form_start(form, {"attr": {"style": "display:inline;"}}) }}

{# templating just parts of the form does not worked, #}
<button type="submit" class="btn btn-xs btn-danger" onClick="return confirm('Opravdu smazat?')"><span class="glyphicon glyphicon-remove"></span> Smazat</button>
{% do form.delete.setRendered %}

{{ form_end(form) }}