<a href="{{ path('course_edit', {'id': course.id}) }}" data-toggle="popover" data-trigger="hover" data-html="true"
	data-content='<pre>{{ course.applEmailText }}</pre>'>
	<span class="glyphicon glyphicon-envelope"></span>
</a>	