<a href="{{ path('course_edit', {'id': course.id}) }}" data-toggle="popover" data-trigger="hover" data-html="true"
	data-content='{{ course.description | markdown }}'>
	<span class="glyphicon glyphicon-picture"></span>
</a>	