{% for course in courses %}
	<li class="{% if not course.active %}inactive{% endif %}">
		<a href="{{ path('course_manage', {'id': course.id}) }}">{% include 'StagBundle:Course:icon.html.twig' %}{{course.name}}</a>
	</li>
{% endfor %}
