{% extends '@StagBundle/base.html.twig' %}

{% block body %}
<div class="stag">
Aplikace pro přihlašování studentů na kurzy tanecvplzni.cz
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}


