{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="users">
	<h1>User add</h1>
	{{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
