{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="users container">
	<h1>User Set Password</h1>
	<div class="well">
	Password must be at least 12 characters long, must contain 3 character classes (uppercase, lowercase, digits, special chars) and must not be based on username.
	</div>
	{{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
