{% extends 'base.html.twig' %}

{% block body %}
<div class="participants">
	<h1>Participant add</h1>
	{{ form_start(form) }}
        {{ form_widget(form) }}	
        {{ form_end(form) }}
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
