{% extends '@StagBundle/base.html.twig' %}

{% block body %}
<div class="participants">
	<h1>Přihláška na kurzy tanecvplzni.cz</h1>
	{{ form_start(form) }}
        {{ form_widget(form) }}	
        {{ form_end(form) }}
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
