{% if participant.deposit == "wire" %}
	<span class="glyphicon glyphicon-retweet text-success" title="Převodem"></span>
{% elseif participant.deposit == "cash" %}
	<span class="glyphicon glyphicon-hand-right text-success" title="Hotově"></span>
{% else %}
	{{ participant.deposit }}
{% endif %}

{% if participant.deposit %}
	{{ render(controller("StagBundle:Participant:deposit", {'id': participant.id, 'value': null})) }}
{% else %}
	{{ render(controller("StagBundle:Participant:deposit", {'id': participant.id, 'value': 'wire'})) }}
	{{ render(controller("StagBundle:Participant:deposit", {'id': participant.id, 'value': 'cash'})) }}
{% endif %}