{% extends 'base.html.twig' %}

{% block body %}
<div class="tickets">
	<h1>Ticket add</h1>
	{{ form_start(form) }}
        {{ form_widget(form) }}	
        {{ form_end(form) }}
	
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
